.lessonslist {
  display: inline-block;
  max-width: 900px;
  margin-top: 18px;
}

.btn {
  text-align: center;
}

a.btn {
  display: table;
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
}

a:visited {
  color: #FFF;
}
