/*--All--*/
body {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}

.title {
  color: #F1453D;
  margin: 90px auto 0px auto;
  padding: none;
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
  margin: 48px 0 2px 0;
}

button {
  border: none;
  display: inline-block;
  background-color: #F1453D;
  color: #FAFAFA;
  font-size: 1.1rem;
  margin: 18px 12px;
  padding: 8px 24px;
  min-width: 200px;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #CA332C;
}
